<!DOCTYPE html>
{% load static custom_tags %}
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{{ dz_array.public.description }}">
        <title>{% block head_title %}{{ dz_array.public.title }}{% endblock %}</title>
        <link rel="shortcut icon" type="image/png" href="{% static dz_array.public.favicon %}">
        <meta name="theme-color" content="#1a73e8">
        <link rel="manifest" href="/manifest.json">
        {% for cssurl in dz_array.global.css %}
        <link rel="stylesheet" href="{% static cssurl %}">
        {% endfor %}
    </head>
    <body data-typography="poppins" data-layout="vertical" data-nav-headerbg="black" data-headerbg="color_1">

    <div id="preloader">
        <div class="lds-ripple">
            <div></div>
            <div></div>
        </div>
    </div>

    <div id="main-wrapper">
        {% include 'elements/nav-header.html' %}
        {% include 'elements/header.html' %}
        {% include 'elements/sidebar.html' %}

        {% if messages %}
        <div class="content-body">
            <div class="container-fluid">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        <div class="content-body">
            <div class="page-titles">
                <ol class="breadcrumb">
                    <li><h5 class="bc-title">{% block page_title %}Compte{% endblock %}</h5></li>
                    <li class="breadcrumb-item"><a href="/reports/">Accueil</a></li>
                    {% block breadcrumb_items %}{% endblock %}
                </ol>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-8 col-lg-10 mx-auto">
                        <div class="card">
                            <div class="card-body">
                                {% block content %}{% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include 'elements/footer.html' %}
    </div>

    {% for jsurl in dz_array.global.js.top %}
    <script src="{% static jsurl %}"></script>
    {% endfor %}
    {% for jsurl in dz_array.global.js.bottom %}
    <script src="{% static jsurl %}"></script>
    {% endfor %}
    {% block extra_body %}{% endblock %}
    <script>
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/sw.js').catch(() => {});
    }
    </script>

</body>
</html>
