{% extends 'base.html' %}
{% load static custom_tags %}

{% block content %}
<div class="content-body">
    <div class="page-titles">
        <ol class="breadcrumb">
            <li><h5 class="bc-title">{{ page_title }}</h5></li>
            <li class="breadcrumb-item"><a href="/reports/">Accueil</a></li>
            <li class="breadcrumb-item"><a href="/communication/automations/">Automatisations</a></li>
            <li class="breadcrumb-item"><a href="/communication/automations/{{ automation.pk }}/">{{ automation.name }}</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Ajouter etape</a></li>
        </ol>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-8 col-lg-10 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <h4 class="heading mb-0">{{ page_title }} - {{ automation.name }}</h4>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            {% for field in form %}
                            <div class="mb-3">
                                <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field }}
                                {% if field.help_text %}<small class="form-text text-muted">{{ field.help_text }}</small>{% endif %}
                            </div>
                            {% endfor %}
                            <div class="d-flex justify-content-between">
                                <a href="/communication/automations/{{ automation.pk }}/" class="btn btn-outline-secondary">Annuler</a>
                                <button type="submit" class="btn btn-primary">Ajouter</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
