{% extends "account/base_auth.html" %}
{% load i18n %}

{% block head_title %}Mot de passe modifie{% endblock %}

{% block auth_title %}Mot de passe modifie{% endblock %}
{% block auth_subtitle %}Votre mot de passe a ete change avec succes{% endblock %}

{% block auth_form %}
<div class="text-center">
    <div class="mb-4">
        <i class="fas fa-check-circle fa-3x text-success mb-3"></i>
    </div>
    <p class="mb-4">
        Votre mot de passe a ete reinitialise. Vous pouvez maintenant vous connecter avec votre nouveau mot de passe.
    </p>
    <a href="{% url 'account_login' %}" class="btn btn-primary">Se connecter</a>
</div>
{% endblock %}
