{% extends "account/base_auth.html" %}
{% load i18n %}

{% block head_title %}E-mail envoye{% endblock %}

{% block auth_title %}E-mail envoye{% endblock %}
{% block auth_subtitle %}Verifiez votre boite de reception{% endblock %}

{% block auth_form %}
<div class="text-center">
    <div class="mb-4">
        <i class="fas fa-envelope-open-text fa-3x text-primary mb-3"></i>
    </div>
    <p class="mb-4">
        Nous vous avons envoye un e-mail contenant un lien de reinitialisation.
        Si vous ne le voyez pas dans votre boite de reception, verifiez vos courriers indesirables.
    </p>
    <a href="{% url 'account_login' %}" class="btn btn-primary">Retour a la connexion</a>
</div>
{% endblock %}
