{% load static %}
<div class="nav-header">
    <a href="/" class="brand-logo">
        <svg class="logo-abbr" width="39" height="23" viewBox="0 0 39 23" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M19.5 1L3 11.5L19.5 22L36 11.5L19.5 1Z" stroke="var(--primary)" stroke-width="2" fill="none"/>
            <path d="M19.5 6L10 11.5L19.5 17L29 11.5L19.5 6Z" fill="var(--primary)"/>
        </svg>
        <svg class="brand-title" width="100" height="16" viewBox="0 0 100 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <text x="0" y="13" font-family="Poppins, sans-serif" font-size="13" font-weight="600" fill="var(--primary)">EgliseConnect</text>
        </svg>
    </a>
    <div class="nav-control">
        <div class="hamburger">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </div>
    </div>
</div>
